# Archivos de Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Archivos de Python compilados
__pycache__/
*.py[cod]

# Archivos temporales
*.log
*.tmp

# Entornos de Anaconda
env/
venv/
.venv/
.env/

# Archivos de VS Code
.vscode/